.root {
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
  background-color: lightsalmon;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.avatar {
  width: 256px;
  height: 256px;
}

.whoami {
  margin: auto 40px;
  padding: 20px 0;
  display: block;
  text-align: center;
  vertical-align: center;
}

@media screen and (max-width: 599px) {
  .root {
    display: block;
  }
  .whoami {
    margin: auto 0;
  }
}
